@font-face {
    font-family: "Lato Bold";
    src: url(./fonts/Lato/Lato-Bold.ttf) format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato Regular";
    src: url(./fonts/Lato/Lato-Regular.ttf) format('truetype'); 
    font-style: normal;
    font-weight: normal;
}


body {
width: 1020px;
font-family: "Lato Regular", "Lato Bold", "New Time Roman" ;
margin: 0 auto;
}

span.point:after {
    content: '\00B7';
    padding: 0 14px;
    color: #494E62;
}

.menu {
    margin: 0;
    float: left;
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    float: left;
    list-style: none;
    font-size: 0.75em;
    letter-spacing: -0.02em;
    color: white;
}

.header {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
}

.HLine {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.header__navigation {
    
    margin: -30.5px 31px 27px 609.5px;
}

.Logo {
    padding: 31px 0 0 40px; 
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    text-align: left;
    letter-spacing: -0.015em;
    font-style: normal;
    font-weight: normal;
}

.slider {
    width: 1020px;
    height: 594px;
    background-color: #f06c64;
}

.iPhone_Vertical {
    width: 215px;
    height: 458px;
    border-radius: 27px;
    margin: 52px 0 0 111px;
}

.iPhone_Horizontal {
    width: 458px;
    height: 215px;
    border-radius: 27px;
    margin: -176px 0 0 425px;
}

.SLine {
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

.our_services {
    width: 1020px;
height: 495px;
background-color: #f2f2f2;
}

.OSLine {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

.Pink {
    color: #f06c64;
}
